{% extends 'layouts/navbar_layout.html' %}

{% block substylesheets %}
  <!-- From fontawesome website -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <!--From tempus dominus website-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/css/tempusdominus-bootstrap-4.min.css" />

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='third-party/fullcalendar/fullcalendar.min.css') }}">

  {% block substylesheets2 %}{% endblock %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='third-party/moment/moment.min.js') }}"></script>

  <!--From tempus dominus website-->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha18/js/tempusdominus-bootstrap-4.min.js"></script>

  <script src="{{ url_for('static', filename='third-party/fullcalendar/fullcalendar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/calendar_setup.js') }}"></script>

{% endblock %}
