{% extends 'calendar.html' %}

{% block substylesheets2 %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/coach_home_style.css') }}">
{% endblock %}

{% block subbody %}

  <div id="content" class="container">
    <div id="contentrow" class="row">
      <div class="col-md-9">
        <div id="loadingIndicator">
          <p>Calendar is loading...</p>
        </div>
        <div id="calendarSection" style="display: none">
        </div>
      </div>


      <div id="teamList" class="col-md-3">

        <h2>Teams</h2>

        <div class="card-columns" id="teamCards">

            {% for team in teams %}

                <div class="card teamcard" data-key="{{ team.key }}">
                  <div class="card-body">
                    <!-- inspired by bootstrap documentation -->
                    <h5 class="card-title">{{ team.name }}</h5>
                    <a class="btn btn-outline-primary" href="/team/{{team.key}}">Edit</a>
                  </div>
                </div>

            {% endfor %}

            <div class="card">
              <div class="card-body">
                <!-- inspired by bootstrap documentation -->
                <h5 class="card-title">Add a Team</h5>
                <form action="/team" method="post">
                  <!-- based on code from http://flask.pocoo.org/snippets/3/ -->
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                  <div class="form-group">
                    <label for="name">Team Name:</label>
                    <input class="form-control" type="text" name="name"/>
                  </div>
                  <button class="btn btn-outline-primary" type="submit">Create team</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="createEventModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Create an Event</h4>
        </div>
        <div class="modal-body">
          <form action="/event" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
              <label for="team">Team:</label>
              <select class="form-control" type="text" name="team">
                {% if teams %}
                  {% for team in teams %}
                    <option value="{{ team.key }}">{{ team.name }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>
            <div class="form-group">
              <label for="name">Event Name:</label>
              <input class="form-control" type="text" name="name"/>
            </div>
            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="fullDay"/>
                <label class="form-check-label" for="name">Full Day</label>
              </div>
            </div>
            <div class="form-group">
              <label for="startTime">Event Start Time:</label>
              <div class="input-group date iyl-datetimepicker" id="startTimePicker" data-target-input="nearest">
                <input id="startTimeInput" class="form-control datetimepicker-input" type="text" name="startTime" data-target="#startTimePicker"/>
                <div class="input-group-append" data-target="#startTimePicker" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="endTime">Event End Time:</label>
              <div class="input-group date iyl-datetimepicker" id="endTimePicker" data-target-input="nearest">
                <input id="endTimeInput" class="form-control datetimepicker-input" type="text" name="endTime" data-target="#endTimePicker"/>
                <div class="input-group-append" data-target="#endTimePicker" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </div>
            <button class="btn btn-outline-primary float-right" type="submit">Create event</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
