{% extends 'calendar.html' %}

{% block endcard %}
  <div class="card">
    <div class="card-body">
      <!-- inspired by bootstrap documentation -->
      <h5 class="card-title">Add a Team</h5>
      <form action="/team" method="post">
        <!-- based on code from http://flask.pocoo.org/snippets/3/ -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
          <label for="name">Team Name:</label>
          <input class="form-control" type="text" name="name"/>
        </div>
        <button class="btn btn-outline-primary" type="submit">Create team</button>
      </form>
    </div>
  </div>

{% endblock %}
