{% extends 'layouts/navbar_layout.html' %}

{% block substylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/team_style.css') }}">
{% endblock %}

{% block subbody %}

  <div id="teamFormWrapper">
    <form action="/team{% if team_key %}/{{team_key}}{% endif %}"
      method="post">
      <div class="form-group">
        <label for="name">Team Name:</label>
        <input class="form-control" type="text" name="name" value="{{team_name}}" >
      </div>
      <button class="btn btn-outline-primary float-right" type="submit">Save Team</button>
    </form>
  </div>

{% endblock %}