{% extends 'layouts/navbar_layout.html' %}

{% block substylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/team_style.css') }}">
{% endblock %}

{% block subbody %}

  <div id="content">
      <form id="teamForm" action="/team{% if team_key %}/{{team_key}}{% endif %}"
        method="post">
        <!-- based on code from http://flask.pocoo.org/snippets/3/ -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
          <label for="name">Team Name:</label>
          <input class="form-control" type="text" name="name" value="{{team_name}}" >
        </div>
        <button class="btn btn-outline-primary" type="submit">Save Team</button>
      </form>

      <form action="/shareteam/{{team_key}}"
        method="post">
        <!-- based on code from http://flask.pocoo.org/snippets/3/ -->
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <input type="hidden" name="teamkey" value="{{ team_key }}" />
        <div class="form-group">
          <label for="sharecode">Share Code:</label>
          <input class="form-control" type="text" name="sharecode" >
        </div>
        <button class="btn btn-outline-primary" type="submit">Share Team</button>
      </form>
  </div>

{% endblock %}