{% extends 'layouts/layout.html' %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/navbar_style.css') }}">

  {% block substylesheets %}{% endblock %}
{% endblock %}

{% block body %}

  <nav class="navbar fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" href="/home">IYL</a>
    <form action="logout" method="post">
      <button class="btn btn-outline-light" type="submit">Logout</button>
    </form>
  </nav>

  {% block subbody %}{% endblock %}

{% endblock %}